---
import borderStatic from '../assets/border_static.png';
import borderAnimated from '../assets/border_animated.webp';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>scug</title>
    <meta name="og:type" content="website" />
    <meta name="og:title" content="scug" />
    <meta name="og:description" content="wawa" />
    <style
      define:vars={{
        BORDER_STATIC: `url("${borderStatic.src}")`,
        BORDER_ANIMATED: `url("${borderAnimated.src}")`,
      }}
    ></style>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  /*
  :root {
    --bg: #ffffff;
    --text: #050424;
    --placeholder: #56575c;
    --submit: #afbcca;
    --font: sans-serif;
    --border: #414868;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --bg: #191919;
      --text: #a29daa;
      --placeholder: #9b989e;
      --submit: #191919;
      --border: #a29daa;
    }
  }
  */
  :root {
    --font: sans-serif;
    --bg: #191919;
    --text: #a29daa;
    --placeholder: #9b989e;
    --submit: #191919;
    --border: #a29daa;
  }
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  body {
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    overflow: hidden;
    font-family: var(--font);
    color: var(--text);
  }
</style>
